.container h1{
	color: #ddd;
	text-shadow: 0 0 2px black;
}
.tag{
	display: inline-block;
	height: 100px;
	width: 120px;
	background: black;
	margin: 10px;
	position: relative;
}
.tag a{
	display: inline-block;
	padding: 50px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	color: white;

}
.genre{
	padding-top: 50px;
}